/* line 7, ../../../app/stylesheets/authorizations.sass */
div#authorizations {
  float: right;
  width: 150px;
}
/* line 10, ../../../app/stylesheets/authorizations.sass */
div#authorizations a {
  width: 150px;
  height: 35px;
  display: block;
  background: #eeeeee;
  border: 1px solid #dddddd;
  margin: 0 0 10px 0;
  overflow: hidden;
}
/* line 18, ../../../app/stylesheets/authorizations.sass */
div#authorizations a:hover h5 {
  margin-top: -35px;
}
/* line 20, ../../../app/stylesheets/authorizations.sass */
div#authorizations a:hover div {
  opacity: 1;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 23, ../../../app/stylesheets/authorizations.sass */
div#authorizations a:nth-child(1) div {
  background: #6db3b8 url(../../images/twitter_32.png) no-repeat;
  padding-left: 40px;
}
/* line 26, ../../../app/stylesheets/authorizations.sass */
div#authorizations a:nth-child(2) div {
  background: #355495 url(../../images/facebook_32.png) no-repeat;
  padding-left: 40px;
}
/* line 29, ../../../app/stylesheets/authorizations.sass */
div#authorizations h5 {
  height: 35px;
  text-align: center;
  line-height: 35px;
  -moz-transition-property: margin-top 0.2s linear;
  -webkit-transition-property: margin-top 0.2s linear;
  -o-transition-property: margin-top 0.2s linear;
  transition-property: margin-top 0.2s linear;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 34, ../../../app/stylesheets/authorizations.sass */
div#authorizations div {
  color: white;
  text-align: left;
  line-height: 35px;
  font-size: 150%;
  height: 35px;
  opacity: 0;
  -moz-transition-property: all 0.5s linear;
  -webkit-transition-property: all 0.5s linear;
  -o-transition-property: all 0.5s linear;
  transition-property: all 0.5s linear;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
}
