<td><%= link_to article.title, article %></td>
<% if admin_signed_in? %>
<td>
  <%= link_to t(:edit), edit_article_path(article) %> <%= 
      link_to t(:del), article, :confirm => sure?, :method => :delete %>
</td>
<% end %>
