<% unless @parent.nil? %>
  <div id="parent_article"><%= render "parent_article", :article => @parent %></div>
<% end %>
<a name="main"></a>
<div id="main_article"><%= render "full_article", :article => @article %></div>
<% unless @child.nil? %>
  <div id="child_article"><%= render "child_article", :article => @child %></div>
<% end %>
