.global_a {
  text-decoration: none;
  color: #4b7399;
  padding: 0 1px 0 1px;
  font-size: 85%;
}
.global_a:hover {
  background: #4b7399;
  color: #ffffff;
  padding: 0 1px 0 1px;
}
.mixin_rounded_corners {
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.mixin_rounded_corners-bottomleft {
  -moz-border-radius-bottomleft: 25px;
  border-bottom-left-radius: 25px;
}
.mixin_rounded_corners-topleft {
  -moz-border-radius-topleft: 25px;
  border-top-left-radius: 25px;
}
.translation_mixin {
  padding: 10px;
  width: 280px;
}
html { background: #4b7399; }
body { font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif; }
a {
  text-decoration: none;
  color: #4b7399;
  padding: 0 1px 0 1px;
  font-size: 85%;
}
a:hover {
  background: #4b7399;
  color: #ffffff;
  padding: 0 1px 0 1px;
}
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
.round {
  -moz-border-radius: 10px;
  border-radius: 10px;
}
div#flash {
  border: 1px solid black;
  float: left;
  padding: 2px 5px 2px 5px;
}
div.notice { background: #33ff33; }
div.alert { background: #ff3333; }
div#links_top {
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1px 5px 3px 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
h1 { margin-top: 0px; }
div#container {
  background: #dddddd;
  padding: 20px;
  width: 900px;
}
div#container div#user_nav {
  display: block;
  text-align: right;
}
div#container div#authentications div#authentication {
  float: left;
  background: #eeeeee;
  border: 1px solid black;
  padding: 5px 10px;
  margin-right: 10px;
  position: relative;
}
div#container div#authentications div#authentication a#remove {
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333333;
  padding: 3px 6px 2px 4px;
  font-size: 70%;
}
div#container div#authentications div#authentication a#remove:hover {
  color: #ffffff;
  background: #777777;
}
div#container div#authentications div#authentication div#provider {
  font-weight: bold;
  margin-left: 38px;
  margin-right: 20px;
}
div#container div#authentications div#authentication div#uid {
  color: #666666;
  font-size: 70%;
  margin-left: 38px;
  margin-right: 20px;
}
div#container div#authentications div#authentication img { float: left; }
div#container a.auth_provider {
  float: left;
  margin-right: 20px;
  text-align: center;
  font-weight: bold;
}
div#container a.auth_provider:hover {
  background: #ffffff;
  color: #7ba3c9;
}
div#container a.auth_provider img {
  display: block;
  border: 0;
}
div#container form#manga_search { float: left; }
div#container div#mangas {
  width: 300px;
  float: left;
}
div#image {
  float: left;
  padding: 1em;
  background: grey;
}
div#image img { width: 400px; }
div#translations {
  float: left;
  width: 320px;
  background: grey;
}
div#translations div#top_empty_translation_fillout {
  width: 320px;
  height: 10px;
  float: left;
  background: #dddddd;
}
div#translations div#bottom_empty_translation_fillout {
  width: 320px;
  height: 10px;
  float: left;
  background: #dddddd;
}
div#translations div.inactive { background: silver; }
div#translations div.below-active {
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
}
div#translations div.above-active {
  -moz-border-radius-bottomleft: 15px;
  border-bottom-left-radius: 15px;
}
div#translations div.translation {
  float: left;
  padding: 10px;
  width: 280px;
}
div#translations div.translation div.text_container {
  float: left;
  width: 15em;
}
div#translations div.translation div#arrow_container {
  float: left;
  width: 4.5em;
}
div#translations div.translation div#arrow_container span#up_arrow {
  float: left;
  width: 2em;
}
div#translations div.translation div#arrow_container span#down_arrow {
  float: right;
  width: 2.5em;
}
div#translations div.translation div#links { float: right; }
div#translations div#translation_form {
  float: left;
  padding: 10px;
  width: 280px;
}
div#translations div#translation_form div label {
  float: left;
  width: 60px;
  text-align: right;
  margin-right: 5px;
}
div#translations div#translation_form div input {
  float: left;
  width: 200px;
}
div#translations div#translation_form input.change { margin: 10px 0 0 65px; }
div#translations div#translation_form input.cancel { margin: 0; }
