table#articles
  tr
    td#article
      span#title
        font: 20px Georgia, serif
        font-style: italic
      span#date
        color: black
        text-transform: uppercase
        font: 13px Georgia, serif
        font-style: italic
