@import "compass/css3/gradient"
@import "compass/css3/border-radius"

$main_bg: #efe
$main_bg: #fff
$global_bg: #4B7399
$link_fg: $global_bg
$light_link_fg: #7Ba3c9
$alert_light: #f33
$alert_dark: #933
$notice_dark: #396
$notice_light: #4CC417

$root_width: 900px
$main_border_size: 10px
$main_padding_size: 20px

$global_font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif

$translations_width: 320px
$translation_width: 280px

@mixin mixin_rounded_corners
  -moz-border-radius: 10px
  border-radius: 10px

@mixin mixin_rounded_corners-bottomleft
  -moz-border-radius-bottomleft: 25px
  border-bottom-left-radius: 25px

@mixin mixin_rounded_corners-topleft
  -moz-border-radius-topleft: 25px
  border-top-left-radius: 25px

@mixin translation_mixin
  padding: 10px
  width: $translation_width

@mixin gradient($light, $dark)
  color: white
  font-weight: bold
  padding: 5px
  +border-radius(10px)
  +linear-gradient(color-stops($light, $dark))

table
  tr
    td:nth-child(2)
      padding: 0 5px

html
  background: $global_bg

div.clear
  clear: both
  height: 0
  overflow: hidden

.round
  @include mixin_rounded_corners

div#flash
  float: left
  margin-bottom: 5px
  padding: 3px 10px
  border: 1px solid white
div.notice
  +gradient($notice_light,$notice_dark)
div.alert
  +gradient($alert_light,$alert_dark)

div#page_nav
  float: left
  margin: 3px 0 0 10px
    
div#published
  margin-bottom: 10px
  font-style: italic

div#article
  p
    margin-bottom: 10px

div#links_top
  margin-bottom: 10px
div#links_bottom
  margin-top: 10px


h1
  margin-top: 0px

div#logo
  float: left

div#root
  margin: 100px auto
  width: $root_width

div#container
  border: $main_border_size solid white
  margin: 0 auto
  font: $global_font
  background: #bbb
  padding: $main_padding_size
  a
    text-decoration: none
    color: $link_fg
    padding: 0 1px 0 1px
    font-size: 85%
    &:hover
      background: $link_fg
      color: $main_bg
      padding: 0 1px 0 1p
  h1
    font-size: 200%
    margin-bottom: 10px

div#site_nav
  float: left
  margin: 0 10px 10px 0  
  +gradient(gray,black)
  a
    color: #c4fff3
    &:hover
      background: none
      color: white
div#top
  margin-top: 4px
div#signed_in
  margin-top: 7px
  float: right

div#content
  float: left

div#user_nav
  display: block
  atext-align: right
  float: right
  width: 200px
  div#authentications
    div#authentication
      float: left
      background: #eee
      border: 1px solid black
      padding: 5px 10px
      margin-right: 10px
      position: relative
      a#remove
        position: absolute
        top: 3px
        right: 3px
        color: #333
        padding: 3px 6px 2px 4px
        font-size: 70%
        &:hover
          color: #fff
          background: #777
      div#provider
        font-weight: bold
        margin-left: 38px
        margin-right: 20px
      div#uid
        color: #666
        font-size: 70%
        margin-left: 38px
        margin-right: 20px
      img
        float: left
  a.auth_provider
    float: left
    margin-right: 20px
    text-align: center
    font-weight: bold
    &:hover
      background: $main_bg
      color: $light_link_fg
    img
      display: block
      border: 0

    //---------------------------- MANGA
div#yield
  width: 800px
  div#image
    float: left
    padding: 1em
    background: grey
    img
      width: 400px
      height: 645px

table#pages, table#mangas
  td#no, td#title
    font-size: 120%
    text-align: right
    padding-right: 5px

div#translations
  float: left
  width: $translations_width
  background: grey
  div#top_empty_translation_fillout
    width: $translations_width
    height: 10px
    float: left
    background: #ddd
  div#bottom_empty_translation_fillout
    width: $translations_width
    height: 10px
    float: left
    background: #ddd
  div.inactive
    background: silver
  div.below-active
    -moz-border-radius-topleft: 15px
    border-top-left-radius: 15px
  div.above-active
    -moz-border-radius-bottomleft: 15px
    border-bottom-left-radius: 15px
  div.translation
    float: left
    @include translation_mixin
    div.text_container
      float: left
      width: 15em
    div#arrow_container
      float: left
      width: 4.5em
      span#up_arrow
        float: left
        width: 2em
      span#down_arrow
        float: right
        width: 2.5em
    div#links
      float: right
  div#translation_form
    float: left
    @include translation_mixin
    div
      label
        float: left
        width: 60px
        text-align: right
        margin-right: 5px
      input
        float: left
        width: 200px
    input.change
      margin: 10px 0 0 65px
    input.cancel
      margin: 0

form.simple_form
  div
    label
      float: left
      width: 100px
      text-align: right
      margin-right: 10px
  input.submit
    margin: 10px 0 0 110px

