$main_bg: #efe
$main_bg: #fff
$global_bg: #4B7399
$link_fg: $global_bg
$light_link_fg: #7Ba3c9
$alert_bg: #f33
$notice_bg: #3f3

$global_font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif

$translations_width: 320px
$translation_width: 280px

@mixin mixin_rounded_corners
  -moz-border-radius: 10px
  border-radius: 10px

@mixin mixin_rounded_corners-bottomleft
  -moz-border-radius-bottomleft: 25px
  border-bottom-left-radius: 25px

@mixin mixin_rounded_corners-topleft
  -moz-border-radius-topleft: 25px
  border-top-left-radius: 25px

@mixin translation_mixin
  padding: 10px
  width: $translation_width

html
  background: $global_bg
a
  text-decoration: none
  color: $link_fg
  padding: 0 1px 0 1px
  font-size: 85%
  :hover
    background: $link_fg
    color: $main_bg
    padding: 0 1px 0 1px

div.clear
  clear: both
  height: 0
  overflow: hidden

.round
  @include mixin_rounded_corners

div#flash
  border: 1px solid black
  float: left
  padding: 2px 5px 2px 5px
div.notice
  background: $notice_bg
div.alert
  background: $alert_bg

div#links_top
  float: left
  background-color: rgba(0, 0, 0, 0.1)
  padding: 1px 5px 3px 5px
  margin-bottom: 10px
  border: 1px solid black
  -moz-border-radius: 10px
  border-radius: 10px

h1
  margin-top: 0px

div#container
  font: $global_font
  background: #ddd
  padding: 20px
  width: 900px
  div#user_nav
    display: block
    atext-align: right
    float: right
  div#authentications
    div#authentication
      float: left
      background: #eee
      border: 1px solid black
      padding: 5px 10px
      margin-right: 10px
      position: relative
      a#remove
        position: absolute
        top: 3px
        right: 3px
        color: #333
        padding: 3px 6px 2px 4px
        font-size: 70%
          :hover
            color: #fff
            background: #777
      div#provider
        font-weight: bold
        margin-left: 38px
        margin-right: 20px
      div#uid
        color: #666
        font-size: 70%
        margin-left: 38px
        margin-right: 20px
      img
        float: left
  a.auth_provider
    float: left
    margin-right: 20px
    text-align: center
    font-weight: bold
    :hover
      background: $main_bg
      color: $light_link_fg
    img
      display: block
      border: 0
    //---------------------------- MANGA
  form#manga_search
    float: left
  div#mangas
    width: 300px
    float: left
  div#image
    float: left
    padding: 1em
    background: grey
    img
      width: 400px

div#translations
  float: left
  width: $translations_width
  background: grey
  div#top_empty_translation_fillout
    width: $translations_width
    height: 10px
    float: left
    background: #ddd
  div#bottom_empty_translation_fillout
    width: $translations_width
    height: 10px
    float: left
    background: #ddd
  div.inactive
    background: silver
  div.below-active
    -moz-border-radius-topleft: 15px
    border-top-left-radius: 15px
  div.above-active
    -moz-border-radius-bottomleft: 15px
    border-bottom-left-radius: 15px
  div.translation
    float: left
    @include translation_mixin
    div.text_container
      float: left
      width: 15em
    div#arrow_container
      float: left
      width: 4.5em
      span#up_arrow
        float: left
        width: 2em
      span#down_arrow
        float: right
        width: 2.5em
    div#links
      float: right
  div#translation_form
    float: left
    @include translation_mixin
    div
      label
        float: left
        width: 60px
        text-align: right
        margin-right: 5px
      input
        float: left
        width: 200px
    input.change
      margin: 10px 0 0 65px
    input.cancel
      margin: 0



