@import "compass/css3/border-radius"

div#sidebar
  float: right
  width: 200px
  text-align: right
  h4
    text-transform: uppercase
    letter-spacing: 4px
    font: 20px Georgia, serif
    border-bottom: 1px solid #eee
    padding: 5px 0
  h5
    margin: 5px 0
    a
      font: 15px Georgia, serif
      font-style: italic
      font-weight: bold
      color: #4b7399
  p#date, p#ago
    text-transform: uppercase
    font: 12px Georgia, serif
    margin: 5px 0
    color: white
  p.translation
    margin: 5px 0
    font: 14px Georgia, serif
  p#content
    font: 14px Georgia, serif    
  p#english
    margin-bottom: 25px

div#home
  width: 640px

div#main
  width: 600px
  float: left
  form#manga_search
    width: 350px    
    float: left
    margin-top: -5px
  div#mangas
    width: 250px
    float: left
