/* line 4, ../../../app/stylesheets/article.sass */
table#articles tr td#article span#title {
  font: 20px Georgia, serif;
  font-style: italic;
}
/* line 7, ../../../app/stylesheets/article.sass */
table#articles tr td#article span#date {
  color: black;
  text-transform: uppercase;
  font: 13px Georgia, serif;
  font-style: italic;
}

/* line 13, ../../../app/stylesheets/article.sass */
div#child_article h1 {
  font: 25px Georgia, serif;
  font-style: italic;
}

/* line 17, ../../../app/stylesheets/article.sass */
div#parent_article h1 {
  font: 25px Georgia, serif;
  font-style: italic;
}
