/* line 1, ../../../app/stylesheets/coderay.scss */
.CodeRay {
  background-color: #232323;
  border: 1px solid black;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #E6E0DB;
  padding: 3px 5px;
  overflow: auto;
  font-size: 12px;
  margin: 12px 0;
}

/* line 11, ../../../app/stylesheets/coderay.scss */
.CodeRay pre {
  margin: 0px;
  padding: 0px;
}

/* line 16, ../../../app/stylesheets/coderay.scss */
.CodeRay .an {
  color: #E7BE69;
}

/* html attribute */
/* line 17, ../../../app/stylesheets/coderay.scss */
.CodeRay .c {
  color: #BC9358;
  font-style: italic;
}

/* comment */
/* line 18, ../../../app/stylesheets/coderay.scss */
.CodeRay .ch {
  color: #509E4F;
}

/* escaped character */
/* line 19, ../../../app/stylesheets/coderay.scss */
.CodeRay .cl {
  color: #FFF;
}

/* class */
/* line 20, ../../../app/stylesheets/coderay.scss */
.CodeRay .co {
  color: #FFF;
}

/* constant */
/* line 21, ../../../app/stylesheets/coderay.scss */
.CodeRay .fl {
  color: #A4C260;
}

/* float */
/* line 22, ../../../app/stylesheets/coderay.scss */
.CodeRay .fu {
  color: #FFC56D;
}

/* function */
/* line 23, ../../../app/stylesheets/coderay.scss */
.CodeRay .gv {
  color: #D0CFFE;
}

/* global variable */
/* line 24, ../../../app/stylesheets/coderay.scss */
.CodeRay .i {
  color: #A4C260;
}

/* integer */
/* line 25, ../../../app/stylesheets/coderay.scss */
.CodeRay .il {
  background: #151515;
}

/* inline code */
/* line 26, ../../../app/stylesheets/coderay.scss */
.CodeRay .iv {
  color: #D0CFFE;
}

/* instance variable */
/* line 27, ../../../app/stylesheets/coderay.scss */
.CodeRay .pp {
  color: #E7BE69;
}

/* doctype */
/* line 28, ../../../app/stylesheets/coderay.scss */
.CodeRay .r {
  color: #CB7832;
}

/* keyword */
/* line 29, ../../../app/stylesheets/coderay.scss */
.CodeRay .rx {
  color: #A4C260;
}

/* regex */
/* line 30, ../../../app/stylesheets/coderay.scss */
.CodeRay .s {
  color: #A4C260;
}

/* string */
/* line 31, ../../../app/stylesheets/coderay.scss */
.CodeRay .sy {
  color: #6C9CBD;
}

/* symbol */
/* line 32, ../../../app/stylesheets/coderay.scss */
.CodeRay .ta {
  color: #E7BE69;
}

/* html tag */
/* line 33, ../../../app/stylesheets/coderay.scss */
.CodeRay .pc {
  color: #6C9CBD;
}

/* boolean */
