/* line 1, ../../../app/stylesheets/manga.sass */
div#sidebar {
  float: right;
  width: 200px;
  text-align: right;
}
/* line 5, ../../../app/stylesheets/manga.sass */
div#sidebar h4 {
  letter-spacing: 4px;
  font: 20px Georgia, serif;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0;
}
/* line 11, ../../../app/stylesheets/manga.sass */
div#sidebar h5 {
  margin: 5px 0;
}
/* line 13, ../../../app/stylesheets/manga.sass */
div#sidebar h5 a {
  font: 15px Georgia, serif;
  font-style: italic;
  font-weight: bold;
  color: #4b7399;
}
/* line 18, ../../../app/stylesheets/manga.sass */
div#sidebar p#date {
  text-transform: uppercase;
  font: 12px Georgia, serif;
  margin: 5px 0;
  color: white;
}
/* line 23, ../../../app/stylesheets/manga.sass */
div#sidebar p#content {
  font: 14px Georgia, serif;
}
