/* line 2, ../../../app/stylesheets/notifier.sass */
div#notifier div#notice {
  padding: 2px 0;
}
/* line 4, ../../../app/stylesheets/notifier.sass */
div#notifier div#notice a {
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: black;
}
/* line 9, ../../../app/stylesheets/notifier.sass */
div#notifier div#notice a:hover {
  color: white;
}
/* line 11, ../../../app/stylesheets/notifier.sass */
div#notifier div#notice a p {
  text-align: right;
  padding-bottom: 2px;
}
